@vmw:registry=https://packages.vcfd.broadcom.net/artifactory/api/npm/npm
registry=https://packages.vcfd.broadcom.net/artifactory/api/npm/upstream-reg-npm-virtual/
@dsm:registry=https://artifactory.vcfd.broadcom.net/artifactory/api/npm/dsm-npm-dev-local/
//artifactory.vcfd.broadcom.net/artifactory/api/npm/dsm-npm-dev-local/:always-auth=true